//npm.pkg.github.com/:_authToken=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
@bh-ent-tech:registry=https://npm.pkg.github.com/

@bh-digitalsolutions:registry=https://npm.pkg.github.com/

@angular:registry=https://registry.npmjs.org/
